.bookcard {
    position: relative;
}

.bookPhoto {
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.control > p > span {
    text-transform: capitalize;
}