.bookGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    row-gap: 1rem;
    column-gap: 2rem;
    position: relative;
}

.search {
    padding: 1rem 10%;
}

.search > input {
    padding: 0.5rem;
    border-radius: 0.375rem;
    margin-left: 1rem;
}

.search > button {
    padding: 0.4rem 0.5rem;
}